/* Add CSS Styling */
.pink{
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#blue{
    color: blue;
    font-size: 36px;
}

.pink-diff{
    font-size: 24px;
}

#green{
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}

/* Lesson Learned */
/* Can reduce code duplication by making shared classes. This can be useful for flex... */